### Tesla Data

In [1]:
# !pip install yfinance

import yfinance as yf
import pandas as pd

tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="max")
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
data = requests.get(url).text

soup = BeautifulSoup(data, 'html5lib')
tesla_revenue = pd.DataFrame(columns=["Year","Revenue"])

for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    year = col[0].text
    revenue = col[1].text
    tesla_revenue = tesla_revenue.append({"Year": year, "Revenue": revenue},ignore_index=True)   
    
tesla_revenue.tail()

AttributeError: 'DataFrame' object has no attribute 'concat'

In [4]:
gme = yf.Ticker("GME")
gme_data = gme.history(period="max")
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693349,1.603295,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662209,1.603296,1.662209,6892800,0.0,0.0

In [5]:
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
data = requests.get(url).text

soup = BeautifulSoup(data, 'html5lib')
gme_revenue = pd.DataFrame(columns=["Year","Revenue"])

for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    year = col[0].text
    revenue = col[1].text
    gme_revenue = tesla_revenue.append({"Year": year, "Revenue": revenue},ignore_index=True)   
    
gme_revenue.tail()

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
apple_share_price_data.plot(x="Date", y="Open")